.container{ 
    display: flex;
    height: 100vh;
    background-image: url('/background-contact.jpg');
    background-position: center;
    background-size: cover;
}

.form{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
    transition: .35s ease-in-out;
}

.form input{
    border: none;
    padding: 5px;
}

.form input:focus{
    outline: none;
}

.form textarea:focus{
    outline: none;
}

.form button{
    padding: 10px;
    font-weight: bold;
    border: none;
}

.form textarea{
    resize: none;
    border: none;
}

.form p{
    font-size: 13px;
    color: #555;
    text-align: center;
}

.map{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

